
.center {

  margin: auto;
  width: 50%;
}

/* Custom styles for cards */

.card {
  transition: transform 0.18s ease-in-out;
}

.card:hover {
  transform: scale(1.014);
}

/* Custom button style */

.btn-custom {
  background-color: #6c5ce7;

  color: white;
}

.btn-custom:hover {
  background-color: #5541d8;

  color: white;
}

/* Custom background for specific sections */

.custom-bg {
  background-color: #f0f0f0;

  padding: 20px;

  border-radius: 10px;
}

.grad {

  background-image: linear-gradient(purple, pink);
}

@font-face {
      font-family: 'MyCustomFont'; /* Choose a descriptive name for your font */
      src: url('Users\kaelan.taeni1\Downloads\Story_Script\StoryScript-Regular') format('truetype');
      font-weight: normal; /* Optional: define font weight */
      font-style: normal;  /* Optional: define font style */
      font-display: swap;  /* Optional: manages font loading behavior */
    }
