{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<h1>Add A Track</h1>

<form method="POST" action="/add">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      placeholder=""
      name="title"
    />
  </div>

  <div class="mb-3">
    <label for="title" class="form-label">Producer</label>
    <input
      type="text"
      class="form-control"
      id="producer"
      placeholder=""
      name="producer"
    />
  </div>

  <div class="mb-3">
    <label for="date" class="form-label">Release Date</label>
    <input
      type="text"
      class="form-control"
      id="date"
      placeholder=""
      name="date"
    />
  </div>

  <div class="mb-3">
    <label for="bpm" class="form-label">BPM</label>
    <input
      type="text"
      class="form-control"
      id="bpm"
      placeholder=""
      name="bpm"
    />
  </div>

  <div class="mb-3">
    <label for="key" class="form-label">Key</label>
    <input
      type="text"
      class="form-control"
      id="key"
      placeholder=""
      name="key"
    />
  </div>

  <div class="mb-3">
    <label for="genre" class="form-label">Genre</label>
    <input
      type="text"
      class="form-control"
      id="genre"
      placeholder=""
      name="genre"
    />
  </div>

  <div class="mb-3">
    <label for="mood" class="form-label">Mood</label>
    <input
      type="text"
      class="form-control"
      id="mood"
      placeholder=""
      name="mood"
    />
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea
      type="text"
      class="form-control"
      id="description"
      placeholder=""
      rows="3"
      name="description"
    ></textarea>
  </div>

  <div class="mb-3">
    <label for="image" class="form-label">Cover Image URL</label>
    <textarea
      type="text"
      class="form-control"
      id="image"
      placeholder="URL"
      name="image"
    ></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Save changes</button>
</form>
{% endblock %}
