{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<h1>Edit {{track.title}}</h1>
    
    <form method="POST" action="/edit">

      <input type="hidden" name="id" value="{{track.id}}">

      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          placeholder=""
          name="title"
          value="{{track.title}}"
        />
      </div>
    
      <div class="mb-3">
        <label for="producer" class="form-label">producer</label>
        <input
          type="text"
          class="form-control"
          id="producer"
          placeholder=""
          name="producer"
          value="{{track.producer}}"
        />
      </div>
    
      <div class="mb-3">
        <label for="date" class="form-label">Release Date</label>
        <input
          type="text"
          class="form-control"
          id="date"
          placeholder=""
          name="date"
          value="{{track.date}}"
        />
      </div>
    
      <div class="mb-3">
        <label for="bpm" class="form-label">BPM</label>
        <input
          type="text"
          class="form-control"
          id="bpm"
          placeholder=""
          name="bpm"
          value="{{track.bpm}}"
        />
      </div>
    
      <div class="mb-3">
        <label for="genre" class="form-label">Genre</label>
        <input
          type="text"
          class="form-control"
          id="genre"
          placeholder=""
          name="genre"
          value="{{track.genre}}"
        />
      </div>

      <div class="mb-3">
        <label for="mood" class="form-label">Mood</label>
        <input
          type="text"
          class="form-control"
          id="mood"
          placeholder=""
          name="mood"
          value="{{track.mood}}"
        />
      </div>
    
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          type="text"
          class="form-control"
          id="description"
          placeholder=""
          rows="3"
          name="description"
          value="{{track.description}}"
        ></textarea>
      </div>
    
      <div class="mb-3">
        <label for="image" class="form-label">Cover Image URL</label>
        <textarea
          type="text"
          class="form-control"
          id="image"
          placeholder="URL"
          name="image"
          value="{{track.image}}"
        ></textarea>
      </div>

      <div class="mb-3">
        <label for="audio_file" class="form-label">Audio File</label>
        <textarea
          type="text"
          class="form-control"
          id="audio_file"
          placeholder="URL"
          name="audio_file"
          value="{{track.audio_file}}"
        ></textarea>
      </div>
    
      <button type="submit" class="btn btn-primary">Save changes</button>
    </form>
    {% endblock %}

<!-- Add your page-specific content here -->

{% endblock %}
