{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h2 class="text-center">The Epicest Book Database</h2>
<br />
<div class="container">
  <div class="row">
    {% for i in range(4) %}
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <img
          src="https://m.media-amazon.com/images/I/81F90H7hnML._AC_UF894,1000_QL80_.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Atomic Habits</h5>
          <p class="card-text">A legendary book</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

        <!-- Add your page-specific content here -->

        {% endblock %}
      </div>

      <p
        style="
          background-image: url('https://media.istockphoto.com/id/1366094303/video/stunning-aerial-view-of-different-trees-with-yellow-flowers.jpg?s=640x640&k=20&c=41VjjXUNGMGFHkI2YAcXkfHmlIeawEd2R_u3zbReT00= ');
        "
      ></p>
    </div>
  </div>
</div>
